body {
  background: var(--heavy-bg);
  color: #fff;
}

.outer {
  overflow: hidden;
  position: relative;
}

.stars {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 0 1807px 1700px #fff, 855px 1472px #fff, 1670px 1977px #fff,
    2855px 594px #fff, 2050px 2706px #fff, 2964px 656px #fff, 609px 93px #fff,
    535px 269px #fff, 2656px 2136px #fff, 1138px 964px #fff, 1102px 1071px #fff,
    1768px 2748px #fff, 2196px 2669px #fff, 2429px 1244px #fff,
    2735px 353px #fff, 1777px 1401px #fff, 2883px 2509px #fff, 2092px 520px #fff,
    2507px 785px #fff, 882px 2600px #fff, 2470px 2603px #fff, 2033px 2922px #fff,
    824px 358px #fff, 2388px 2477px #fff, 2214px 92px #fff, 2330px 2194px #fff,
    899px 2640px #fff, 2985px 1242px #fff, 2840px 340px #fff, 1790px 986px #fff,
    2158px 894px #fff, 2145px 782px #fff, 1804px 1127px #fff, 241px 707px #fff,
    1937px 527px #fff, 2662px 1267px #fff, 2066px 607px #fff, 1355px 2610px #fff,
    2022px 698px #fff, 1411px 1535px #fff, 2935px 1824px #fff, 2560px 705px #fff,
    417px 2868px #fff, 2907px 1819px #fff, 2965px 2051px #fff,
    2815px 1790px #fff, 2245px 2249px #fff, 1052px 2775px #fff,
    2189px 777px #fff, 1303px 667px #fff, 2585px 849px #fff, 2798px 1865px #fff,
    1072px 1972px #fff, 1731px 643px #fff, 1541px 1650px #fff, 1118px 226px #fff,
    930px 2786px #fff, 773px 1893px #fff, 27px 2150px #fff, 371px 2150px #fff,
    2138px 538px #fff, 1935px 242px #fff, 2797px 1819px #fff, 1687px 1690px #fff,
    739px 92px #fff, 2995px 596px #fff, 700px 833px #fff, 2674px 256px #fff,
    2388px 2064px #fff, 1392px 2677px #fff, 2038px 1239px #fff,
    2315px 1229px #fff, 2510px 2120px #fff, 2107px 675px #fff,
    1630px 2256px #fff, 1741px 205px #fff, 2388px 1494px #fff,
    2176px 1922px #fff, 127px 2176px #fff, 27px 5px #fff, 1532px 2404px #fff,
    1513px 1344px #fff, 2859px 1206px #fff, 2457px 1696px #fff,
    2545px 1066px #fff, 1220px 1748px #fff, 870px 2492px #fff, 1148px 266px #fff,
    1123px 1672px #fff, 2658px 1701px #fff, 2348px 1578px #fff,
    1923px 1145px #fff, 2205px 332px #fff, 2214px 2873px #fff, 2437px 865px #fff,
    975px 2063px #fff, 2958px 1960px #fff, 2962px 1747px #fff,
    2313px 1559px #fff, 1923px 832px #fff, 787px 2629px #fff, 340px 685px #fff,
    2489px 1363px #fff, 1951px 38px #fff, 704px 209px #fff, 1415px 209px #fff,
    2686px 1740px #fff, 2207px 742px #fff, 406px 1210px #fff, 968px 996px #fff,
    1952px 2708px #fff, 2848px 2935px #fff, 2894px 2271px #fff,
    1669px 102px #fff, 163px 38px #fff, 1727px 439px #fff, 578px 12px #fff,
    585px 2045px #fff, 1538px 2072px #fff, 1303px 155px #fff, 2926px 64px #fff,
    2081px 2920px #fff, 264px 564px #fff, 1737px 2251px #fff, 228px 1429px #fff,
    2033px 1187px #fff, 584px 2894px #fff, 799px 153px #fff, 1503px 2092px #fff,
    810px 1286px #fff, 138px 1464px #fff, 2430px 106px #fff, 1217px 138px #fff,
    1441px 821px #fff, 1885px 190px #fff, 1234px 1396px #fff, 1689px 1297px #fff,
    120px 7px #fff, 1192px 2100px #fff, 406px 2097px #fff, 2717px 800px #fff,
    1146px 2661px #fff, 390px 2971px #fff, 435px 1528px #fff, 898px 1325px #fff,
    1327px 2551px #fff, 1493px 726px #fff, 1543px 2643px #fff,
    2226px 1902px #fff, 2355px 1463px #fff, 634px 894px #fff, 2754px 1806px #fff,
    781px 913px #fff, 596px 1086px #fff, 2942px 312px #fff, 2011px 1280px #fff,
    1046px 2875px #fff, 2114px 661px #fff, 1153px 2473px #fff, 111px 2970px #fff,
    1882px 1413px #fff, 1694px 1693px #fff, 816px 413px #fff, 896px 2974px #fff,
    2122px 899px #fff, 1977px 2061px #fff, 591px 14px #fff, 722px 990px #fff,
    1683px 1063px #fff, 1315px 1267px #fff, 1433px 499px #fff,
    2241px 1627px #fff, 1147px 2691px #fff, 1626px 2827px #fff,
    294px 2176px #fff, 1041px 454px #fff, 702px 192px #fff, 2335px 2815px #fff,
    1855px 2395px #fff, 752px 451px #fff, 938px 1897px #fff, 2036px 2823px #fff,
    2043px 524px #fff, 2144px 778px #fff, 696px 2193px #fff, 212px 2466px #fff,
    2268px 1350px #fff, 2553px 454px #fff, 1323px 1472px #fff,
    2458px 1747px #fff, 713px 1590px #fff, 2395px 2897px #fff, 1078px 924px #fff,
    1382px 2988px #fff, 879px 423px #fff, 2991px 882px #fff, 864px 2753px #fff,
    509px 2008px #fff, 2178px 1877px #fff, 213px 1546px #fff, 1128px 1986px #fff,
    956px 79px #fff, 441px 2923px #fff, 1558px 2958px #fff, 128px 132px #fff,
    2238px 1853px #fff, 305px 2845px #fff, 965px 2916px #fff, 743px 2130px #fff,
    2968px 2344px #fff, 1963px 478px #fff, 1153px 2725px #fff,
    1097px 2371px #fff, 1808px 1906px #fff, 1095px 1118px #fff,
    2689px 2480px #fff, 58px 1104px #fff, 1824px 2396px #fff, 368px 889px #fff,
    17px 2012px #fff, 2990px 2535px #fff, 2152px 744px #fff, 1297px 1150px #fff,
    1688px 321px #fff, 1518px 365px #fff, 519px 305px #fff, 848px 1237px #fff,
    2023px 821px #fff, 492px 773px #fff, 139px 1767px #fff, 1583px 238px #fff,
    115px 2267px #fff, 799px 937px #fff, 183px 957px #fff, 668px 626px #fff,
    684px 1080px #fff, 1339px 2712px #fff, 505px 1594px #fff, 972px 2115px #fff,
    1538px 2153px #fff, 205px 1391px #fff, 2542px 1219px #fff, 14px 1991px #fff,
    19px 528px #fff, 1346px 74px #fff, 1436px 265px #fff, 868px 2263px #fff,
    530px 1652px #fff, 1186px 1323px #fff, 9px 1754px #fff, 2802px 329px #fff,
    1103px 1135px #fff, 1034px 715px #fff, 2935px 507px #fff, 2029px 2060px #fff,
    448px 2919px #fff, 1189px 805px #fff, 2830px 372px #fff, 291px 911px #fff,
    1224px 1707px #fff, 2776px 2168px #fff, 554px 2666px #fff, 575px 22px #fff,
    2537px 1907px #fff, 1124px 372px #fff, 1082px 749px #fff, 1280px 522px #fff,
    1459px 44px #fff, 2149px 592px #fff, 95px 1738px #fff, 2636px 1181px #fff,
    922px 1609px #fff, 951px 2709px #fff, 88px 2404px #fff, 1715px 1791px #fff,
    1435px 2875px #fff, 787px 2164px #fff, 789px 2812px #fff, 300px 907px #fff,
    1551px 1594px #fff, 434px 1261px #fff, 1946px 1644px #fff, 714px 2946px #fff,
    1552px 2795px #fff, 283px 2453px #fff, 1942px 1003px #fff,
    2474px 2908px #fff, 2522px 2119px #fff, 213px 2976px #fff, 163px 2737px #fff,
    2523px 1669px #fff, 1329px 1733px #fff, 2420px 2814px #fff,
    1017px 1775px #fff, 1260px 1354px #fff, 1886px 2742px #fff,
    458px 1185px #fff, 351px 2442px #fff, 673px 155px #fff, 1140px 2821px #fff,
    1941px 983px #fff, 2803px 917px #fff, 402px 498px #fff, 2024px 1018px #fff,
    1670px 2250px #fff, 257px 1604px #fff, 1264px 1218px #fff, 2315px 341px #fff,
    639px 1131px #fff, 1702px 2948px #fff, 2931px 300px #fff, 2525px 2882px #fff,
    964px 1888px #fff, 1066px 2272px #fff, 43px 147px #fff, 2296px 580px #fff,
    251px 1410px #fff, 558px 2157px #fff, 2751px 2731px #fff, 462px 1380px #fff,
    1104px 264px #fff, 490px 2341px #fff, 1271px 1389px #fff, 2872px 1345px #fff,
    2021px 2079px #fff, 266px 2961px #fff, 2764px 2414px #fff, 818px 1274px #fff,
    2058px 1160px #fff, 1527px 1283px #fff, 2638px 2555px #fff, 2569px 50px #fff,
    1238px 87px #fff, 947px 2982px #fff, 2554px 1388px #fff, 2673px 1333px #fff,
    623px 2944px #fff, 1097px 933px #fff, 763px 1317px #fff, 384px 2646px #fff,
    955px 2728px #fff, 2615px 1101px #fff, 970px 1321px #fff, 2518px 193px #fff,
    1620px 685px #fff, 728px 2841px #fff, 211px 1645px #fff, 2048px 1020px #fff,
    321px 1884px #fff, 1056px 1007px #fff, 1195px 1941px #fff, 2561px 392px #fff,
    399px 1711px #fff, 1037px 2563px #fff, 689px 306px #fff, 220px 1784px #fff,
    925px 2610px #fff, 1341px 1036px #fff, 2906px 223px #fff, 1397px 19px #fff,
    705px 1077px #fff, 2535px 146px #fff, 2126px 263px #fff, 1724px 902px #fff,
    2257px 1347px #fff, 534px 1921px #fff, 1906px 2005px #fff,
    2426px 2953px #fff, 2601px 2342px #fff, 1308px 347px #fff, 837px 166px #fff,
    2517px 2385px #fff, 1470px 1243px #fff, 2461px 2550px #fff,
    2848px 1764px #fff, 396px 2367px #fff, 2399px 2702px #fff,
    1745px 1957px #fff, 985px 1779px #fff, 1888px 688px #fff, 1794px 1158px #fff,
    2522px 1767px #fff, 2441px 1382px #fff, 1443px 915px #fff,
    2317px 1953px #fff, 2995px 2298px #fff, 1343px 361px #fff,
    2085px 1161px #fff, 729px 817px #fff, 2887px 1714px #fff, 884px 851px #fff,
    467px 704px #fff, 2961px 741px #fff, 1885px 674px #fff, 934px 193px #fff,
    1554px 2764px #fff, 1772px 2759px #fff, 1092px 1309px #fff,
    2659px 2997px #fff, 1981px 2788px #fff, 546px 2055px #fff, 1363px 789px #fff,
    153px 893px #fff, 920px 5px #fff, 2132px 1703px #fff, 296px 2485px #fff,
    1864px 1181px #fff, 1871px 2732px #fff, 827px 1149px #fff, 980px 191px #fff,
    403px 1775px #fff, 964px 2207px #fff, 1712px 1205px #fff, 1674px 2588px #fff,
    1224px 2027px #fff, 1923px 1814px #fff, 2093px 57px #fff, 374px 113px #fff,
    2140px 2621px #fff, 1257px 2384px #fff, 1844px 1658px #fff,
    611px 2195px #fff, 2858px 903px #fff, 2389px 2486px #fff, 1320px 132px #fff,
    943px 1104px #fff, 331px 2311px #fff, 1546px 2452px #fff, 1755px 2413px #fff,
    1578px 2977px #fff, 1551px 1247px #fff, 2292px 729px #fff, 1369px 446px #fff,
    1118px 1942px #fff, 1748px 480px #fff, 746px 2457px #fff, 612px 1567px #fff,
    2312px 2962px #fff, 1627px 466px #fff, 1588px 123px #fff, 1687px 2556px #fff,
    2914px 2621px #fff, 247px 128px #fff, 776px 1480px #fff, 746px 2418px #fff,
    1220px 1149px #fff, 2978px 1107px #fff, 2914px 960px #fff,
    2498px 2266px #fff, 2883px 2684px #fff, 2361px 788px #fff,
    2855px 2083px #fff, 1879px 831px #fff, 650px 2961px #fff, 1509px 2848px #fff,
    834px 2671px #fff, 676px 1555px #fff, 2218px 690px #fff, 1553px 1112px #fff,
    1176px 1201px #fff, 782px 932px #fff, 2889px 2834px #fff, 231px 647px #fff,
    1265px 2864px #fff, 187px 2076px #fff, 2084px 1062px #fff,
    1220px 2298px #fff, 855px 1440px #fff, 1916px 275px #fff, 2763px 155px #fff,
    625px 214px #fff, 1159px 2145px #fff, 2686px 2437px #fff, 988px 365px #fff,
    2705px 1647px #fff, 541px 916px #fff, 2454px 243px #fff, 1812px 2690px #fff,
    2587px 830px #fff, 2203px 2591px #fff, 1803px 2997px #fff,
    1256px 1637px #fff, 289px 1394px #fff, 2655px 2155px #fff,
    1140px 1583px #fff, 2734px 838px #fff, 1757px 1389px #fff, 676px 495px #fff,
    1032px 1179px #fff, 2618px 1572px #fff, 1827px 1026px #fff,
    1244px 434px #fff, 2983px 713px #fff, 566px 2058px #fff, 1265px 1239px #fff,
    822px 1630px #fff, 2465px 2588px #fff, 2098px 686px #fff, 1054px 1306px #fff,
    1847px 1418px #fff, 1777px 1393px #fff;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  opacity: 0.5;
}

.inner {
  position: relative;
  z-index: 2;
  min-height: 100vh;
}
